In [0]:
from pyspark.sql import  SparkSession
spark=SparkSession.builder.appName("data frame").getOrCreate()

In [0]:
df=spark.read.options(header="True",inferSchema="True").csv('/FileStore/tables/StudentData.csv')

In [0]:
#if we want to select particular columns only
# df.select('*').show()  ---- this will show the all columns
df.select("age","gender").show()

+---+------+
|age|gender|
+---+------+
| 28|Female|
| 29|Female|
| 28|  Male|
| 29|Female|
| 28|  Male|
| 28|  Male|
| 28|  Male|
| 28|Female|
| 28|  Male|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 28|Female|
| 29|Female|
| 29|  Male|
| 29|Female|
| 29|  Male|
| 29|  Male|
| 29|  Male|
| 28|Female|
+---+------+
only showing top 20 rows

In [0]:
# WITH COLUMN
from pyspark.sql.functions import col,lit
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [0]:
df1=df.withColumn("roll",col("roll").cast("string"))
df1.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [0]:
# modify existing column
df2=df.withColumn("marks",col('marks')+10)
# create a new column
df2=df.withColumn("updated marks",col('marks')+10)
df2.show()

+---+------+----------------+------+------+-----+--------------------+-------------+
|age|gender|            name|course|  roll|marks|               email|updated marks|
+---+------+----------------+------+------+-----+--------------------+-------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|           69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|           72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|           55|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|           39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|           51|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|           42|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|           79|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|           95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|           74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|           61|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|           45|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|           63|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|           37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|           65|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|           52|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|           37|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|           46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|           32|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|           66|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|           72|
+---+------+----------------+------+------+-----+--------------------+-------------+
only showing top 20 rows

In [0]:
# add new column with the constant value
df2=df.withColumn("country",lit("india"))
df2.show()

+---+------+----------------+------+------+-----+--------------------+-------+
|age|gender|            name|course|  roll|marks|               email|country|
+---+------+----------------+------+------+-----+--------------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|  india|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|  india|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|  india|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|  india|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|  india|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|  india|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|  india|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|  india|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|  india|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|  india|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|  india|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|  india|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|  india|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|  india|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|  india|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|  india|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|  india|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|  india|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|  india|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|  india|
+---+------+----------------+------+------+-----+--------------------+-------+
only showing top 20 rows

In [0]:
# apply multiple transformation at  a single line
df.withColumn("update marks",col("marks")+10).withColumn("country",lit("India")).show()

+---+------+----------------+------+------+-----+--------------------+------------+-------+
|age|gender|            name|course|  roll|marks|               email|update marks|country|
+---+------+----------------+------+------+-----+--------------------+------------+-------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|          69|  India|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|          72|  India|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|          55|  India|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|          39|  India|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|          51|  India|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|          42|  India|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|          79|  India|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|          95|  India|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|          74|  India|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|          61|  India|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|          45|  India|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|          63|  India|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|          37|  India|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|          65|  India|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|          52|  India|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|          37|  India|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|          46|  India|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|          32|  India|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|          66|  India|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|          72|  India|
+---+------+----------------+------+------+-----+--------------------+------------+-------+
only showing top 20 rows

In [0]:
df1=df.withColumnRenamed("age","new_age").withColumnRenamed("marks","nw_marks")
df1.show()

+-------+------+----------------+------+------+--------+--------------------+
|new_age|gender|            name|course|  roll|nw_marks|               email|
+-------+------+----------------+------+------+--------+--------------------+
|     28|Female| Hubert Oliveras|    DB|  2984|      59|Annika Hoffman_Na...|
|     29|Female|Toshiko Hillyard| Cloud| 12899|      62|Margene Moores_Ma...|
|     28|  Male|  Celeste Lollis|    PF| 21267|      45|Jeannetta Golden_...|
|     29|Female|    Elenore Choy|    DB| 32877|      29|Billi Clore_Mitzi...|
|     28|  Male|  Sheryll Towler|   DSA| 41487|      41|Claude Panos_Judi...|
|     28|  Male|  Margene Moores|   MVC| 52771|      32|Toshiko Hillyard_...|
|     28|  Male|     Neda Briski|   OOP| 61973|      69|Alberta Freund_El...|
|     28|Female|    Claude Panos| Cloud| 72409|      85|Sheryll Towler_Al...|
|     28|  Male|  Celeste Lollis|   MVC| 81492|      64|Nicole Harwood_Cl...|
|     29|  Male|  Cordie Harnois|   OOP| 92882|      51|Judie Chipps_Clem...|
|     29|Female|       Kena Wild|   DSA|102285|      35|Dustin Feagins_Ma...|
|     29|  Male| Ernest Rossbach|    DB|111449|      53|Maybell Duguay_Ab...|
|     28|Female|  Latia Vanhoose|    DB|122502|      27|Latia Vanhoose_Mi...|
|     29|Female|  Latia Vanhoose|   MVC|132110|      55|Eda Neathery_Nico...|
|     29|  Male|     Neda Briski|    PF|141770|      42|Margene Moores_Mi...|
|     29|Female|  Latia Vanhoose|    DB|152159|      27|Claude Panos_Sant...|
|     29|  Male|  Loris Crossett|   MVC|161771|      36|Mitzi Seldon_Jenn...|
|     29|  Male|  Annika Hoffman|   OOP|171660|      22|Taryn Brownlee_Mi...|
|     29|  Male|   Santa Kerfien|    PF|182129|      56|Judie Chipps_Tary...|
|     28|Female|Mickey Cortright|    DB|192537|      62|Ernest Rossbach_M...|
+-------+------+----------------+------+------+--------+--------------------+
only showing top 20 rows

In [0]:
df.select(col('age').alias('new_age')).show()

+-------+
|new_age|
+-------+
|     28|
|     29|
|     28|
|     29|
|     28|
|     28|
|     28|
|     28|
|     28|
|     29|
|     29|
|     29|
|     28|
|     29|
|     29|
|     29|
|     29|
|     29|
|     29|
|     28|
+-------+
only showing top 20 rows